
h1 {
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: 0px;
    color: hsl(227, 35%, 25%);
}
.infor {
    align-items: center;
    font-size: 15px;
}
h4 {
    font-weight: 600;
    margin-top:5px;
    color: hsl(225, 20%, 60%)
}
p {
    font-family: 'Manrope', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color:hsl(225, 20%, 60%);
}
body {
    background-image: url(../images/bg-pattern.svg);
    background-repeat: no-repeat;
    background-color: hsl(230, 100%, 99%);
    font-family: 'Manrope', sans-serif;
    color: hsl(227, 35%, 25%);
}

.image {
    width: 4%; 
    height: auto;
    float: left;
    float: inherit;
    margin-left: 50px;
    margin-right: 50px;
}
.heading {
    margin-top: 50px;
    position: relative;
  text-align: center;
}

.heading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card {
    text-align: center;
    background-color: hsl (0, 0%, 100%);
    margin:  0% 15%;
    margin-top: 2pc;
    border-radius: 1pc;
}

.info {
    text-align: left;
    font-size: 15px;
    margin-left: -10px;
    margin-right: 0px;
    color: hsl(225, 20%, 60%);
}
   
button {
    margin-top: 3pc;
  background-color:  hsl(227, 35%, 25%);
  line-height:1pc;
  border-radius: 40px;
  transition: all 0.3s ease 0s;
}

.button-text {
    color: hsl(226, 100%, 87%);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 13px;
}
 .slider {
   margin-left: 1pc;
   margin-right: 2pc;
    -webkit-appearance: none;
  width: 90%;
  height: 15px;
  border-radius: 5px;  
  background: hsl(174, 77%, 80%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background-color: hsl(174, 77%, 80%);
    background : url(../images/icon-slider.svg);
    cursor: pointer;
  }
.slider::-moz-range-thumb {
    width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: hsl(174, 86%, 45%);
  background : url(../images/icon-slider.svg);
  cursor: pointer;
} 
.slider-handle.custom {
    background: url(../images/favicon-32x32.png);
    background-color: hsl(174, 86%, 45%);
    background: url(../images/icon-slider.svg);
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 16px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider-round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:hsl(223, 50%, 87%);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider-round:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider-round {
    background-color: hsl(174, 86%, 45%);
  }
  
  input:focus + .slider-round {
    box-shadow: 0 0 1px hsl(174, 86%, 45%);
  }
  
  input:checked + .slider-round:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider-round {
    border-radius: 34px;
  }
  
  .slider-round:before {
    border-radius: 50%;
  }

  .dis {
    background-color: hsl(14, 92%, 95%);
    font-size: 10px;
    color: hsl(15, 100%, 70%);
    width: fit-content;
    float:unset;
  }

  .break {
    margin:1.5pc 1pc;
  }